@import url(http://fonts.googleapis.com/css?family=Pacifico);
@screen-xs-min: 757px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;


html, body {
  margin: 0px;
  height: 100%;
  width: 100%;
  background-color: #ECF0F1;
}

#container {
	padding: 0px;
}

.side-left {
	overflow: hidden;
	background-image: url(/doi-pui.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #555;

	height: 100%;
	.img-bg {
		/*position: absolute;*/
		left: -50%;
		height:100%;
       	max-height:100%;;
		opacity: 0.2;		
	}
}

.wrap-pic-logo {
	position: relative;
	width: 100%;
	height: auto;				
	/*background-color: blue;*/
		.pic-logo {
			position: relative;
			margin-top: 25px;
			left: 50%;
			margin-left: -70px;
			width: 140px;
			/*background-color: red;*/
				img {
					width: 100%;
					/*border: 6px solid #1ABC9C;*/
    				border-radius: 50%;	
    				opacity: 1.0;	
    				/*box-shadow: 1px 1px 1px black;				*/
				}
		}					
}

.wrap-text-logo {
	position: relative;
	width: 100%;
	margin-top: 15px;
	height: auto;				
	/*background-color: green;*/

	font-weight: bold;
	color: #2C3E50;
	text-align: center;
	font-size: 2.5em;
	font-family: 'Pacifico', cursive;
	/*text-shadow: 1px 1px 20px #555;*/
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (max-width: @screen-xs-min) {  
/*	.side-left {
		.img-bg {
			left: 0px;	
		}
	}*/
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {  
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {  
	/*.wrap-pic-logo {
		.pic-logo {
			left: 50%;
			margin-left: -17.5%;
			width: 80%;
		}
	}*/
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {  

}